
#bai9 tr{
    border:1px solid #820909;
}
#bai9 img{
    width: 100px;
    height: 40px;
}
#bai9 img:hover{
    border: 1px double #820909;
}

#Bai10 #animated{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 100px;
    background: #ffcc00;
    animation-name: b10animation;
    animation-duration: 3s;
}



@keyframes b10animation {
    to{
        left: 70%;
        transform: rotate(180deg);
        background: red;
        border-radius: 50px;
    }
}




#Bai11 .footer{
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: green;
    color: #fff;
}

#Bai12 .ribbon{
    background-color: red;
    color: white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #f53838;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f53838), to(#e10808));
    background-image: -webkit-linear-gradient(top, #f53838, #e10808);
    background-image: -moz-linear-gradient(top, #f53838, #e10808);
    background-image: -ms-linear-gradient(top, #f53838, #e10808);
    background-image: -o-linear-gradient(top, #f53838, #e10808);
    color: #fff;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);

}


 #Bai13 .gallery{
    
    border: 1px solid #aea9cf;
    float: left;
    margin: 10px;
    width: 200px;
 }

 #Bai13 img{
    width: 100%;
    height: 80px;
 }

 #Bai13 .gallery:hover{
    border: 1px solid red;
 }

 #Bai13 img{
    width: 100%;
    height: 70px;
 }

 #Bai13 .desc{
    text-align: center;
    padding: 35px;
 }


 #Bai14 .Transition{
    width: 300px   ;
    float: left;
    margin: 100px;
    background: #6FAC21;
    opacity: 0.8;
    border-radius: 10px;
    transition: all 2s linear;
    border-bottom: dashed;
    border-left: double;
    border-right: dashed;
    border-top: double;
    border-width: 3px;
    border-color: red;
    color: white;
 }

 #Bai14 .Transition:hover{
    transform: scale(1.5) rotate(360deg);
    -webkit-transform: scale(1.5) rotate(360deg);
    background: #1EC7E6;
}

#Bai15 .search{
    width: 100px;
    transition:2s;
}

#Bai15 .search:focus{
    width: 250px;
    background-color: lightgreen;
}

#Bai16 a{
    text-decoration: none;
    color: white;
}

#Bai16 .menu{
    width: 100px;
    padding: 5px;
    background: #0d90df;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3cm;
    text-align: center;
    margin: 5px;
    border: 2px dashed white;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #0d90df;
}

#Bai17 li{
    list-style: none;
    float: left;
    background: #993738;
}

#Bai17 li:hover{
    color: black;
    background: #820909;
}

#Bai17 a{
    text-decoration: none;
    color: white;
    margin: 25px;
    font-size: 15px;
} 

 #Bai17 .menucap1{
    background: #993738;
}


.hi{
    display: block ;
    position: absolute;
    width: 70%;
    background-color: green;

}

#Bai18 li{
    list-style: none;
    display: inline;
}

#Bai18 a{
    text-decoration: none;
    margin: 20px;
    color: white;
}

#Bai18 a:hover{
    color: orange;
}

#Bai18 li>ul{
    display: none;
}

#Bai18 li:hover ul{
    display: block;
    position: absolute;
    left:200px;
    background: green;
    margin: 0;
}

#Bai18 li:hover ul li a:link{
    display: block;
    margin-left: -30px;
}


